.container{
   
    margin-top:200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:200px;
    a{
        display:block;
        padding:0.7rem 1rem;
        background-color: var(--blue-600);
        color:white;
        text-decoration: none;
        border-radius: 0.7rem;
        transition:filter 0.25s;
        &:hover{
            filter:brightness(0.7)
        }
    }
}